@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Montserrat&family=Roboto&display=swap');

* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

a {
    text-decoration : none;
    color : inherit;
}

li {
    list-style-type : none ;
}
    
.container{
    height: 100vh;
    background: var(--secondari-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home{
    display: flex;
    flex-direction: column;
    background: var(--primary-bg);
    width: 375px;
    height: 832px; 
}

.title-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 82px;
    margin-left: 24px;
}

.title-1{
    color: var(--secondary-text);
    font-size: var(--fs-l);
    font-family: var(--third-font-family);
}

.title-2{
    color: var(--fifht-text);
    font-size: var(--fs-ll);
}

.input-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 25px;
   
}

.input{
    width: 319px;
    height: 45px;
    background: var(--primary-button-bg);
    border-radius: 5%;
    border: none;
    color: var(--input-text);
    font-size: var(--fs-m);
    font-family: var(--third-font-family);
    padding: var(--padding-size-m);
}

.input:hover{
    background: var(--secondari-button-bg);
}

.menu{
    display: flex;
    justify-content: space-around;
}

.button{
    width: 58px;
    height: 58px;
    background: var(--primary-button-bg);
    border-radius: 50%;
    border: none;
    margin-top: 29px;
}

.button:hover{
    background: var(--secondari-button-bg);
}

.img-wrapper{
    display: flex;
    justify-content: center;
}

.img{
    width:25px ;
    height: 30px;
}

.title__menu{
    display: flex;
    justify-content: center;
    color: var(--primari-text);
    font-size: var(--fs-xxxs);
}

.main{
    display: flex;
   
}

.products{
    margin-top: 17px;
}

.products-2{
    position: absolute;
    margin-top: 17px;
    margin-left: 170px;
}

.products-3{
    position: absolute;
    margin-top: 220px;
}

.products-4{
    position: absolute;
    margin-top: 220px;
    margin-left: 170px;
}

.product{
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 170px;
    background: var(--primary-button-bg);
    margin-top: 20px;
    margin-left: 24px;
    position: absolute;
    border-radius: 5px;
}



.title__product{
    margin-top: 85px;
}

.title__product-1{
    color: var(--primari-text);
    font-size: var(--fs-xs);
    font-family: var(--third-font-family);
    margin-left: 10px;
}

.title__product-2{
    color: var(--fourth-text);
    font-size: var(--fs-xxs);
    font-family:var(--third-font-family) ;
    margin-left: 10px;
}

.price-wrapper{
    display: flex;
    justify-content: space-between;
}

.price__product{
   margin-top: 10px;
   margin-left: 15px;
   font-size: var(--fs-s);
   font-family: var(--third-font-family);
   color: var(--primari-text);
}

.button__product{
    margin-top: 16px;
    width: 37px;
    height: 39px;
    border-radius: 5px 0;
    border: none;
    background: var(--third-button-bg);
}

.button__product:hover{
    background: var(--additional-bg);
}

.add{
    color: var(--primari-text);
    font-size: var(--fs-l);
}

.image-wrapper{
   display: flex;
   position: absolute;
   margin-bottom: 17px;
   margin-left: 55px;
}

.image{
    width: 95px;
    height: 98px;
}



