:root {

   /* *Background */

   --primary-bg :#121013 ;
   --secondari-bg:#E5E5E5 ;
   --additional-bg: ;
   --spare-bg: ;

   /* *Background-button */

   --primary-button-bg :#232222 ;
   --secondari-button-bg:#4B494C ;
   --third-button-bg: #646165;
   --fourth-button:#D9D9D9 ;
   --range-bg: #FF5C00;



}
    